# Stable Diffusion WebUI 폴더 제외
stable-diffusion-webui/

# Wav2Lip 폴더 제외 
Wav2Lip/

# SadTalker 폴더 제외 
SadTalker/

# dataset
JIMIN/data/dataset

# 가상환경 폴더 (Conda, venv, Virtualenv)
venv/
env/
.sd-env/

# Stable Diffusion 모델 파일 (용량 큼)
models/
outputs/
embeddings/
repositories/
extensions/
cache/
logs/

# 파이썬 컴파일 파일
__pycache__/
*.pyc
*.pyo
*.pyd

# 실행 관련 파일
*.log
*.bat
*.sh
